
@font-face{
    font-family: Anton;
    src: url('../fonts/Anton-Regular.ttf');
}
@font-face{
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa-VariableFont_wght.ttf');
}
@font-face{
    font-family: Manrope;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}
@font-face{
    font-family: Rajdhani;
    src: url('../fonts/Rajdhani-Regular.ttf');
}
@font-face{
    font-family: Thasadith;
    src: url('../fonts/Thasadith-Regular.ttf');
}